Repository jbabin91/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, shellcheck

prettier:
  run: pnpm exec prettier --write {staged_files}
  stage_fixed: true

shellcheck:
  run: shellcheck {staged_files}

chore: remove @antfu/ni from devDependencies (installed globally)
  general/Brewfile
  package.json
  pnpm-lock.yaml
Due: prettier

chore: add prettier-plugin-packagejson for automatic package.json formatting
  .prettierrc
  package.json
  pnpm-lock.yaml
Due: prettier

docs: improve README and update .gitignore
  .gitignore
  README.md
Due: prettier

chore: refactor zsh and fish configurations; replace Amazon Q with Kiro CLI, update Ghostty settings, and migrate from Sheldon to Antidote plugin manager
  config/fish/conf.d/00_fig_pre.fish
  config/fish/conf.d/99_fig_post.fish
  config/ghostty/config
  config/kanata/kanata.kbd
  config/sheldon/plugins.toml
  config/starship/config.toml
  config/zsh/.zsh_plugins.txt
  config/zsh/.zshenv
  config/zsh/.zshrc
  config/zsh/aliases.sh
  config/zsh/completions.sh
  config/zsh/env.sh
  config/zsh/tools.sh
  general/.cspell.json
  general/.cspell/misc.txt
  general/Brewfile
  general/git/.gitconfig
  install.conf.yaml
Due: prettier, shellcheck

refactor(zsh): migrate Sheldon to Antidote, optimize shell startup
  .commitlintrc.js
  .editorconfig
  .gitignore
  .gitmodules
  .markdownlint-cli2.mjs
  .vscode/settings.json
  config/kanata-tray/kanata-tray.toml
  config/kanata/kanata.kbd
  config/karabiner/karabiner.json
  config/zsh/.zsh_plugins.txt
  config/zsh/.zshenv
  config/zsh/.zshrc
  general/.cspell/misc.txt
  general/Brewfile
  install.conf.yaml
  lefthook.yml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  script/bootstrap.fish
Due: prettier

chore: add type module to package.json
  package.json
Due: prettier

chore: update Brewfile with current packages
  general/Brewfile
Due: none

fix: exclude dotbot submodule from lefthook commands
  lefthook.yml
Due: prettier

refactor: migrate dotbot from git submodule to uv
  .gitmodules
  install
Due: none

chore: remove stale configs and unused scripts
  bin/brew-bump
  bin/brew-cleanup
  bin/fix-internet
  bin/flush-dns
  bin/git-delete-local-merged
  bin/git-fetch-merge
  bin/git-fetch-pr
  bin/git-fix
  bin/git-main-branch
  bin/git-nuke
  bin/git-pr
  bin/git-stats
  bin/git-sync
  bin/restart-audio
  bin/vip
  config/alacritty/alacritty.yml
  config/alacritty/dracula-pro-blade.yml
  config/alacritty/dracula-pro-buffy.yml
  config/alacritty/dracula-pro-lincoln.yml
  config/alacritty/dracula-pro-morbius.yml
  config/alacritty/dracula-pro-van-helsing.yml
  config/alacritty/dracula-pro.yml
  config/alacritty/tokyonight.yml
  config/fish/conf.d/00_fig_pre.fish
  config/fish/conf.d/99_fig_export.fish
  config/fish/conf.d/99_fig_post.fish
  config/fish/config.fish
  config/fish/fish_variables
  config/htop/htoprc
  config/neofetch/config.conf
  config/postgres/psqlrc
  config/skhd/skhdrc
  config/spotifyd/spotifyd.conf
  config/yabai/yabairc
  script/bootstrap.fish
Due: prettier

feat: add fastfetch and btop, replace neofetch and htop
  config/btop/btop.conf
  config/fastfetch/config.jsonc
  general/Brewfile
  install.conf.yaml
Due: prettier

feat(nvim): add LazyVim configuration
  config/nvim/.gitignore
  config/nvim/.neoconf.json
  config/nvim/README.md
  config/nvim/coc-settings.json
  config/nvim/init.lua
  config/nvim/init.vim
  config/nvim/install.fish
  config/nvim/lazy-lock.json
  config/nvim/lazyvim.json
  config/nvim/lua/config/autocmds.lua
  config/nvim/lua/config/keymaps.lua
  config/nvim/lua/config/lazy.lua
  config/nvim/lua/config/options.lua
  config/nvim/lua/plugins/colorscheme.lua
  config/nvim/lua/plugins/example.lua
  config/nvim/lua/plugins/lsp.lua
  config/nvim/plugins.vim
  config/nvim/snippets/javascript.snip
  config/nvim/space.vim
  config/nvim/stylua.toml
Due: prettier

refactor: clean up tooling configs
  .commitlintrc.js
  .markdownlint-cli2.mjs
  .prettierignore
  .prettierrc
  lefthook.yml
  prettier.config.js
Due: prettier

chore: remove stale vscode configs and fish aliases
  config/zsh/.zshrc
  general/vscode/extensions.list
  general/vscode/extensions.txt
  general/vscode/keybindings.json
  general/vscode/settings.json
  general/vscode/update.fish
Due: prettier

chore(macos): clean up defaults script
  config/macos/set-defaults.sh
Due: shellcheck

docs: rewrite README for current setup
  README.md
Due: prettier

docs: add CLAUDE.md for Claude Code context
  CLAUDE.md
Due: prettier

chore(brew): regenerate Brewfile; drop fnm and stale taps
  general/Brewfile
Due: none

feat(mise): manage Node and Rust; enable .nvmrc auto-detection
  config/mise/config.toml
Due: none

refactor(zsh): migrate Node from fnm to mise; harden PATH and clean rc files
  config/zsh/.zsh_plugins.txt
  config/zsh/.zshenv
  config/zsh/.zshrc
Due: none

chore(cspell): update misc dictionary
  general/.cspell/misc.txt
Due: none

feat(nvim): silence health warnings; enable copilot-native; add lua LSP setup
  config/nvim/.luarc.json
  config/nvim/lazy-lock.json
  config/nvim/lazyvim.json
  config/nvim/lua/config/lazy.lua
  config/nvim/lua/config/options.lua
  config/nvim/lua/plugins/sidekick.lua
Due: prettier

chore(ghostty): bump opacity from 85% to 95%
  config/ghostty/config
Due: none

chore: remove tmux symlink from dotbot
  install.conf.yaml
Due: prettier

docs: update README for mise-managed Node; drop tmux references
  README.md
Due: prettier

chore(zsh): remove interactive -i flags and vscode init guards
  config/zsh/.zshrc
Due: none

chore: add nvim commitlint scope
  .commitlintrc.js
Due: none

chore(nvim): update plugin lockfile
  config/nvim/lazy-lock.json
Due: prettier

feat(git): verify ssh-signed commits locally
  general/git/.gitconfig
  general/git/allowed_signers
  install.conf.yaml
Due: prettier

chore(git): disable fsmonitor
  general/git/.gitconfig
Due: none

chore(git): ignore HANDOFF.md
  general/git/.gitignore
Due: none

chore: ignore review-cycle sentinel files
  .gitignore
Due: none

chore(cspell): add dictionary words
  general/.cspell/misc.txt
Due: none

docs: add review-cycle policies and document nvim scope
  CLAUDE.md
Due: prettier

fix(git): correct inert config keys, dedupe reset alias, add local include
  general/git/.gitconfig
Due: none

feat(zsh): auto-switch gh account by directory
  config/zsh/.zshrc
Due: none

chore: add btop to commitlint scopes
  .commitlintrc.js
Due: none

chore(btop): sync config with btop 1.4.7
  config/btop/btop.conf
Due: none

feat(ghostty): add nerd font symbol fallback for monolisa
  config/ghostty/font/monolisa
Due: none

chore(mise): bump prettier to 3.8.4 and add pnpm
  config/mise/config.toml
Due: none

Path conditions:
  prettier: any of: *.{json,yml,yaml,md}
  shellcheck: any of: *.sh
